# Ignore files and directories generated during development
node_modules/
dist/
build/

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore version control files
.git/
.gitignore

# Ignore temporary and cache files
*.tmp
*.cache

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore any other files or directories specific to your pr
deploy/
