apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ghost-on-kubernetes.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ghost-on-kubernetes.labels" . | nindent 4 }}
    app.kubernetes.io/component: ghost-config
type: Opaque
stringData:
  config.production.json: |-
    {
      "url": {{ .Values.ghost.url | quote }},
      "admin": {
        "url": {{ .Values.ghost.adminUrl | quote }}
      },
      "server": {
        "port": 2368,
        "host": "0.0.0.0"
      },
      {{- if .Values.ghost.mail.enabled }}
      "mail": {
        "transport": {{ .Values.ghost.mail.transport | quote }},
        "from": {{ .Values.ghost.mail.from | quote }},
        "options": {
          "service": {{ .Values.ghost.mail.service | quote }},
          "host": {{ .Values.ghost.mail.host | quote }},
          "port": {{ .Values.ghost.mail.port }},
          "secure": {{ .Values.ghost.mail.secure }},
          "auth": {
            "user": {{ .Values.ghost.mail.user | quote }},
            "pass": {{ .Values.ghost.mail.password | quote }}
          }
        }
      },
      {{- end }}
      "logging": {
        "transports": [
          "stdout"
        ]
      },
      "database": {
        "client": "mysql",
        "connection": {
          "host": {{ include "ghost-on-kubernetes.mysql.host" . | quote }},
          "user": {{ include "ghost-on-kubernetes.mysql.username" . | quote }},
          "password": {{ include "ghost-on-kubernetes.mysql.password" . | quote }},
          "database": {{ include "ghost-on-kubernetes.mysql.database" . | quote }},
          "port": {{ include "ghost-on-kubernetes.mysql.port" . | quote }}
        }
      },
      "process": "local",
      "paths": {
        "contentPath": "/home/nonroot/app/ghost/content"
      }
    }

