name: Build tests

on:
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - main
    paths:
      - Dockerfile
      - entrypoint.js

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      -
        name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 1
          
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8026d2bc3645ea78b0d2544766a1225eb5691f89 # v3.7.0
        with:
          driver-opts: |
            network=host

      - name: Gets GHOST_VERSION
        continue-on-error: false
        id: versions
        run: |
          echo "GHOST_VERSION=$(curl -s https://api.github.com/repos/tryghost/ghost/releases/latest | jq '.name' | sed 's/\"//g')" >> $GITHUB_OUTPUT
          

      - name: Show GHOST_VERSION
        continue-on-error: true
        run: echo ${{ steps.versions.outputs.GHOST_VERSION }} 
      -
        name: Build
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        id: build-pr
        with:
          context: .
          platforms: linux/amd64
          cache-from: type=gha,mode=max
          cache-to: type=gha,mode=max
          push: false
          build-args: GHOST_VERSION=${{ steps.versions.outputs.GHOST_VERSION }}
          
