name: build-custom-image

on:
  workflow_dispatch:
    inputs:
      manual-tag:
        description: 'Manual Tag'
        required: true
        default: 'custom'
        type: string
      ghost_version:
        description: 'Ghost version'
        required: true
        default: '5.84.2'
        type: string

permissions:
  contents: read

jobs:
  build-custom-version:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write
      actions: read
      attestations: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      -
        name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}
          persist-credentials: false
          
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8026d2bc3645ea78b0d2544766a1225eb5691f89 # v3.7.0
        with:
          driver-opts: |
            network=host
      - 
        name: Set up GHOST_VERSION and MANUAL_TAG values, depending on event type (push or workflow_dispatch)
        id: versions
        run: |
          echo "GHOST_VERSION=${{ github.event.inputs.ghost_version }}" >> $GITHUB_OUTPUT
          echo "MANUAL_TAG=${{ github.event.inputs.manual-tag }}" >> $GITHUB_OUTPUT

      - name: Show GHOST_VERSION
        continue-on-error: true
        run: |
          echo ${{ steps.versions.outputs.GHOST_VERSION }} &&
          echo ${{ steps.versions.outputs.MANUAL_TAG }}
      -
        name: Docker meta for workflow_dispatch
        id: meta-workflow-dispatch
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: |
            ghcr.io/${{ github.repository }}
            quay.io/${{ vars.QUAY_ORG }}/${{ github.event.repository.name }}
            docker.io/${{ secrets.DOCKER_USER }}/${{ github.event.repository.name }}
          tags: |
            type=ref,event=branch
            type=raw,value=${{ steps.versions.outputs.MANUAL_TAG }}
            type=raw,value=v${{ steps.versions.outputs.GHOST_VERSION }}
      -
        name: Login to DockerHub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_PASS }}
      -
        name: Login to Quay Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        continue-on-error: true
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USER }}  
          password: ${{ secrets.QUAY_PASS }}

      -
        name: Build and push
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        id: build-and-push-workflow-dispatch
        with:
          context: .
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha
          provenance: true
          sbom: true
          push: true
          tags: ${{ steps.meta-workflow-dispatch.outputs.tags }}
          labels: ${{ steps.meta-workflow-dispatch.outputs.labels }}
          build-args: GHOST_VERSION=${{ steps.versions.outputs.GHOST_VERSION }}



