name: Delete old container images

on:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  clean-ghcr:
    name: Delete old unused container images
    runs-on: ubuntu-latest
    permissions:
      packages: write
      repository-projects: read
      contents: read
      actions: read
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Delete 'ghost-on-kubernetes' containers older than a week
        uses: sredevopsorg/container-retention-policy@4aa1833d7b7493ee2bd6964f4b33913d5819ce0d # main
        with:
          image-names: ghost-on-kubernetes
          cut-off: A week ago UTC
          account-type: org
          org-name: sredevopsorg
          keep-at-least: 3
          untagged-only: false
          token-type: github-token
          token: ${{ github.token }}
          skip-tags: main
