name: Run Trivy scans

on:
  push:
    branches:
      - main
      
  workflow_dispatch:
    inputs:
      manual-tag:
        description: 'Manual Tag'
        required: false
        default: 'main'
        type: string
  workflow_call:

  workflow_run:
    workflows: ["multi-build", "build-custom-image"]
    types:
      - completed

permissions:
  contents: read

jobs:
  trivy:
    name: Run Trivy Scans
    runs-on: ubuntu-latest
    permissions:
      packages: write
      repository-projects: read
      contents: read
      actions: read
      id-token: write
      security-events: write
      attestations: write
      statuses: write
      checks: write
      pull-requests: write

    steps:                  
      - name: Checkout code
        uses: actions/checkout@v4
        #if: ${{ github.event_name != 'workflow_run' && github.event_name != 'workflow_dispatch' }}

      - name: Trivy Scan for Workflow Dispatch
        uses: aquasecurity/trivy-action@0.23.0
        id: trivy-workflow-dispatch
        if: github.event_name == 'workflow_dispatch'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:${{ github.event.inputs.manual-tag }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
          vuln-type: 'os'


      - name: Trivy Scan for Workflow Run
        uses: aquasecurity/trivy-action@0.23.0
        id: trivy-workflow
        if: github.event_name == 'workflow_run'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:latest'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
          vuln-type: 'os'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        continue-on-error: true
        #if: always()
        with:
          sarif_file: 'trivy-results.sarif'

  trivy-repo:
    name: Run Trivy Repo
    runs-on: ubuntu-latest
    permissions: write-all
    
  
    steps:           
      - name: Checkout code
        uses: actions/checkout@v4
        #if: ${{ github.event_name != 'workflow_run' && github.event_name != 'workflow_dispatch' }}


      - name: Scan image in a private registry
        uses: aquasecurity/trivy-action@0.23.0
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:main'
          scan-type: image
          format: 'github'
          output: 'dependency-results.sbom.json'
          github-pat: ${{ secrets.GHCR_PASS }}
          severity: "CRITICAL"
          scanners: "vuln"
          vuln-type: 'os'
      - name: Upload trivy report as a Github artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sbom-report
          path: 'dependency-results.sbom.json'
          retention-days: 15 # 90 is the default


          
