name: Run Trivy scans

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      manual-tag:
        description: 'Manual Tag'
        required: false
        default: 'main'
        type: string
  workflow_call:

  workflow_run:
    workflows: ["multi-build", "build-custom-image"]
    types:
      - completed

permissions:
  contents: read

jobs:
  trivy:
    name: Run Trivy Scans
    runs-on: ubuntu-latest
    permissions:
      packages: write
      repository-projects: read
      contents: write
      actions: write
      id-token: write
      security-events: write

    steps:                  
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Trivy Scan for Workflow Dispatch
        uses: aquasecurity/trivy-action@0.22.0
        id: trivy-workflow-dispatch
        if: github.event_name == 'workflow_dispatch'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:${{ github.event.inputs.manual-tag }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'CRITICAL'


      - name: Trivy Scan for Workflow Run
        uses: aquasecurity/trivy-action@0.22.0
        id: trivy-workflow
        if: github.event_name == 'workflow_run'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:main'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'CRITICAL'


      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.22.0
        id: trivy-repo
        
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'HIGH,CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        continue-on-error: false
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
