name: Run Trivy scans

on:
  workflow_dispatch:
    inputs:
      manual-tag:
        description: 'Manual Tag'
        required: true
        default: 'main'
        type: string
  
  workflow_run:
    workflows: ['multi-build', 'build-custom-image' ]
    types: [completed]
    branches:
      - 'main'


jobs:
  trivy:
    name: Run Trivy Scans
    runs-on: ubuntu-latest
    permissions:
      packages: write
      repository-projects: read
      contents: read
      actions: read
      id-token: write
      security-events: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Trivy Scan for Workflow Dispatch
        uses: aquasecurity/trivy-action@6f8c23760b7baab9da654a77606e367803441f93 # master
        id: trivy-workflow-dispatch
        if: github.event_name == 'workflow_dispatch'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:${{ github.event.inputs.manual-tag }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Trivy Scan for Workflow Run
        uses: aquasecurity/trivy-action@6f8c23760b7baab9da654a77606e367803441f93 # master
        id: trivy-workflow-run
        if: github.event_name == 'workflow_run'
        with:
          image-ref: 'ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_commit.id }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          scan-type: 'image'
          github-pat: '${{ github.token }}'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@41857bab356c91c1decab862427445155c08ca39 # main
        continue-on-error: false
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

